/* reset
-------------------------------------------------------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: var(--font-copy);
    line-height: var(--lh-small);
    background-color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    display: block;
}

ul,
li {
    list-style-type: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*  reduced motion rules taken from Andy Bell's reset: https://andy-bell.co.uk/a-modern-css-reset, 
    remove all animations, transitions and smooth scroll for people that prefer not to see them
--------------------------------------------------------------------------------------------------------------------- */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
