/* work:
---------------------------------------------------------------------------------------------------------------- */

.work {
    .grid {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: var(--off-white);

        & > div,
        .full {
            @media (min-width: 440px) {
                margin-bottom: 1rem;
            }

            @media (min-width: 640px) {
                margin-bottom: 3rem;
                padding-right: 4.86%;
                padding-left: 4.86%;
            }

            @media (min-width: 800px) {
                margin-bottom: 60px;
                padding-right: 4.86%;
                padding-left: 4.86%;
            }
        }

        div:last-of-type {
            margin-bottom: 0;
        }

        img {
            margin-bottom: 1rem;
        }

        .excerpt {
            font-family: var(--font-titling);
            font-size: 1rem;
            line-height: 1.2;
        }

        @media (min-width: 440px) {
            .excerpt {
                --a: 16;
                --b: 24;
                --x: 440;
                --y: 1440;

                --sum1: calc((var(--b) - var(--a)) / (var(--y) - var(--x)));
                --sum2: calc(var(--sum1) * var(--x));
                --sum3: calc(var(--a) - var(--sum2)) / 16 * 1rem;

                font-size: calc(var(--sum1) * 100vw + (var(--sum3)));
            }
        }

        @media (min-width: 1440px) {
            .excerpt {
                font-size: 1.5rem;
            }
        }

        /* generic
        --------------------------------------------------------------------------------------------------------- */
        .block__4-4-4,
        .block__8-high-4,
        .block__4-high-4-4,
        .block__4-high-8,
        .block__4-4-4-high {
            @media (min-width: 440px) {
                display: grid;
                column-gap: 10px;
            }

            @media (min-width: 800px) {
                column-gap: 20px;
            }
        }

        .reduce {
            // margin-bottom: 1rem;
        }

        /* 4-4-4
        --------------------------------------------------------------------------------------------------------- */
        .block__4-4-4 {
            grid-template-columns: repeat(3, 1fr);
        }

        /* 8-high-4
        --------------------------------------------------------------------------------------------------------- */
        .block__8-high-4 {
            @media (min-width: 440px) {
                .rh-col {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            @media (min-width: 800px) {
                grid-template-columns: 2fr 1fr;

                .rh-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }

        /* 4-high-4-4
        --------------------------------------------------------------------------------------------------------- */
        .block__4-high-4-4 {
            @media (min-width: 440px) {
                .lh-col {
                    margin-bottom: 0.5rem;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 10px;

                    .col-2 {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }

                .rh-col {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 10px;
                }
            }

            @media (min-width: 800px) {
                grid-template-columns: 2fr 1fr;

                .lh-col {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    // grid-template-rows: repeat(2, 1fr);
                    column-gap: 20px;
                    // row-gap: 10.45%;
                    row-gap: 12%;
                }

                .rh-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    //grid-template-rows: repeat(2, 1fr);
                }
            }
        }

        /* 4-8-high
        --------------------------------------------------------------------------------------------------------- */
        .block__4-high-8 {
            @media (min-width: 440px) {
                .lh-col {
                    margin-bottom: 0.5rem;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    //column-gap: 20px;
                }
            }

            @media (min-width: 800px) {
                grid-template-columns: 1fr 2fr;

                .lh-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }

        /* 4-4-4-high
        --------------------------------------------------------------------------------------------------------- */
        .block__4-4-4-high {
            @media (min-width: 440px) {
                .rh-col {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 10px;

                    .col-1 {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }

                .lh-col {
                    margin-bottom: 0.5rem;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 10px;
                }
            }

            @media (min-width: 800px) {
                grid-template-columns: 1fr 2fr;

                .lh-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .rh-col {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    // row-gap: 10.45%;
                    row-gap: 12%;
                }
            }
        }
    }
}
